<div id="<%= dom_id comment %>">
  <p>
    <strong>Body:</strong>
    <%= comment.body %>
  </p>

  <p>
    <strong>Movie:</strong>
    <%= comment.movie_id %>
  </p>

  <p>
    <strong>Approved:</strong>
    <%= comment.approved %>
  </p>

</div>
