<p style="color: green"><%= notice %></p>

<h1>Comments</h1>

<div id="comments">
  <% @comments.each do |comment| %>
    <%= render comment %>
    <%= button_to "Aprovar comentário",
     comment, method: :put, params: {'comment[approved]': true} %>
    <hr>
  <% end %>
</div>


